{% extends 'common/sortable.html' %}

{% block title %}公众号文章{% endblock title %}

{% block defaults %}
    url: "{% url 'admin/articles-list' %}",
    sort_by: "posttime",
    sort_order: "desc",
    search_field: "title"
{% endblock defaults %}

{% block head %}
    <th style="width: 15%; min-width: 100px">公众号名称</th>
    <th style="width: 25%; min-width: 100px" data-key="title">文章标题</th>
    <th>文章简介</th>
    <th class="th-sortable" style="width: 105px" data-key="views">
        <span class="fa fa-eye fa-fw"></span> 阅览数
    </th>
    <th class="th-sortable" style="width: 105px" data-key="likes">
        <span class="fa fa-thumbs-o-up fa-fw"></span> 点赞数
    </th>
    <th class="th-sortable" data-key="posttime"
        style="width: 120px"><span class="fa fa-calendar fa-fw"></span> 发布日期
    </th>
{% endblock head %}
