{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}清华大学微信公众号备案平台{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- stylesheets -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/eden.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock css %}
    <!-- script references -->
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'jquery/jquery.history.js' %}"></script>
    <script src="{% static 'jquery/jquery.scrollto.js' %}"></script>
    <script src="{% static 'jquery/jquery.fixer.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'base/js/scripts.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</head>

<body>
<!-- header -->
<div id="top-nav" class="navbar navbar-default navbar-static-top affix">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left">
            <a class="fake-link-scroll navbar-brand">清华大学微信公众号备案平台</a>
            {% block subtitle %}
                <!-- example
                <a class="navbar-brand">&gt;</a>
                <a class="fake-link-scroll navbar-brand">管理员后台</a>
                -->
            {% endblock subtitle %}
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="pull-left hidden-lg hidden-md hidden-sm">
                <a id="left-column-toggle" class="fake-link">
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                </a>
            </li>
            <li class="pull-right dropdown">
                <a class="fake-link dropdown-toggle" role="button" data-toggle="dropdown" data-target="#">
                    <i class="glyphicon glyphicon-user"></i> {{ username }} <span class="caret"></span>
                </a>
                <ul id="g-account-menu" class="dropdown-menu" role="menu">
                    {% block user-menu %}
                        <li><a href="{% url 'student/change-info' %}"><i class="glyphicon glyphicon-info-sign"></i>　账号信息</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-log-out"></i>　登出</a></li>
                    {% endblock user-menu %}
                </ul>
            </li>
        </ul>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->
<!-- Main -->
<div class="container-fluid main">
    <div class="row">
        <div class="col-sm-3" id="left-column">
            <!-- Left column -->
            {% block left-column %}
            {% endblock left-column %}

            {% if left_column_id %}
                <script>
                    $({{ left_column_id }}).addClass("active");
                </script>
            {% endif %}
        </div>
        <div class="container-fluid" id="main-page">
            <!-- Main page -->
            {% block main-page %}
            {% endblock main-page %}
        </div>
    </div>
</div>
<!-- /Main -->

<footer class="text-center">清华大学公众号管理系统</footer>

{% block modals %}
{% endblock modals %}

</body>

</html>
