<html>
<head>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-ui"></script>
<link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="accordion" id="accordion-681373">
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-681373" href="#accordion-element-232990">选项卡 #1</a>
					</div>
					<div id="accordion-element-232990" class="accordion-body collapse in">
						<div class="accordion-inner">
							功能块...
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-681373" href="#accordion-element-933165">选项卡 #2</a>
					</div>
					<div id="accordion-element-933165" class="accordion-body collapse">
						<div class="accordion-inner">
							功能块...
						</div>
					</div>
				</div>
			</div>
			<form>
				<fieldset>
					 <legend>表单项</legend> <label>表签名</label><input type="text" /> <span class="help-block">这里填写帮助信息.</span> <label class="checkbox"><input type="checkbox" /> 勾选同意</label> <button type="submit" class="btn">提交</button>
				</fieldset>
			</form>
			<div class="hero-unit">
				<h1>
					W3CSCHOOL菜鸟教程
				</h1>
				<p>
					学的不仅是技术，更是梦想！
				</p>
				<p>
					再牛逼的梦想,也抵不住你傻逼似的坚持！
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="http://www.w3cschool.cc/bootstrap/bootstrap-tutorial.html">Bootstrap 在线教程 »</a>
				</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>