{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">

    <!-- Uikit for navbar -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/uikit/uikit.css">


    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'login/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/supersized.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Javascript -->
    <script src="{% static 'login/js/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'login/js/supersized.3.2.7.min.js' %}"></script>
    <script src="{% static 'login/js/supersized-init.js' %}"></script>
    <script src="{% static 'login/js/scripts.js' %}"></script>

    <script type="text/javascript">
        function submitform() {
            document.forms["login_form"].submit();
            /*
             var form2=document.forms["login_form"];
             form2['password'].value=hex_md5(form2['password'].value);
             form2.submit();*/
        }
    </script>

    <title>请登录</title>


</head>


<body>

<nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li class="
			{% if identity == 'student' %}
			uk-active
			{% else %}
			uk-parent
			{% endif %}
			"><a href="/login/student">Student</a></li>
        <li class="
			{% if identity == 'administrator' %}
			uk-active
			{% else %}
			uk-parent
			{% endif %}
			"><a href="/login/administrator">Admin</a></li>
        <li class="
			{% if identity == 'superuser' %}
			uk-active
			{% else %}
			uk-parent
			{% endif %}
			"><a href="/login/superuser">Superuser</a></li>
    </ul>
</nav>
</nav>

<div class="page-container">
    <h1>
        {% if identity == 'student' %}
            请登录
        {% elif identity == 'administrator' %}
            欢迎 管理员 ，请登录
        {% elif identity == 'superuser' %}
            欢迎 超级管理员 ，请登录
        {% else %}
            对不起,似乎出了点问题...
        {% endif %}
    </h1>

    <form id="login_form" action="/api/login/{{ identity }}" method="post" onsubmit="submitform();">
        {% csrf_token %}
        <input type="text" name="account" class="username" placeholder="用户名">
        <input type="password" name="password" class="password" placeholder="密码">
        <button type="submit">提交</button>
        <div class="error"><span>+</span></div>
    </form>
</div>


</body>

</html>
