<div class="top-row">
    <a>&nbsp;</a>
    <a class="fake-link pull-right">
        <strong>数据更新　<i class="fa fa-cloud-download fa-fw"></i></strong>
    </a>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>数据更新</h4></div>
            <div class="panel-body">
                <button id="update-button" type="button" class="btn btn-success" style="margin-bottom: 20px">更新</button>
                <div class="progress" id="progress-item" style="display: none">
                    <div id="progress-bar" class="progress-bar progress-bar-success progress-bar-striped active"
                         role="progressbar"
                         aria-valuemin="0" aria-valuemax="100" style="width: 0 %">
                    </div>
                </div>
                <div id="update-status" style="display: none">
                    正在更新：<span id="updating-account"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        timeToQuery();
    });
    $("#update-button").click(function () {
        $.post("{% url 'api/update-start' %}", "", function () {
            document.getElementById("update-button").innerText = "更新中...";
            document.getElementById("progress-item").style.display = "block";
            $("#update-status").css("display", "block");
            timeToQuery();
        });
    });
    function timeToQuery() {
        $.ajax({
            type: "GET",
            url: "{% url 'superuser/progress-item' %}",
            success: function (data) {
                console.log(data);
                var progress = Math.max(1, data.progress);
                var updating_account = data.updating_account;
                if (updating_account === '') {

                } else {
                    var progress_bar = $("#progress-item");
                    if (progress_bar.css("display") === "none") {
                        document.getElementById("update-button").innerText = "更新中...";
                        document.getElementById("progress-item").style.display = "block";
                        $("#update-status").css("display", "block");
                    }
                    update_progress(progress, updating_account);
                    if (progress < 100) {
                        setTimeout("timeToQuery()", 500);
                    } else {
                        document.getElementById("update-button").innerText = "已更新";
                        document.getElementById("progress-bar").className = "progress-bar progress-bar-success progress-bar-striped";
                        $("#update-status").css("display", "none");
                    }
                }
            }
        });
    }
    function update_progress(progress, updating_account) {
        document.getElementById("progress-bar").style.width = progress + "%";
        console.log(updating_account);
        $("#updating-account").html(updating_account);
    }
</script>
