body {
    min-width: 480px;
}

.navbar-static-top {
    margin-bottom: 20px;
}

i {
    font-size: 16px;
}

.nav > li > a {
    color: #787878;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #efefef;
}

/* count indicator near icons */
.nav > li .count {
    position: absolute;
    bottom: 12px;
    right: 6px;
    font-size: 9px;
    background: rgba(51, 200, 51, 0.55);
    color: rgba(255, 255, 255, 0.9);
    line-height: 1em;
    padding: 2px 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.navbar {
    width: 100%;
}

.main {
    padding-top: 70px;
}

#left-column {
    width: 200 !important;
}

.container-fluid {
    max-width: 1200px;
}

@media (min-width: 1200px) {

}

/* align badges with left-column items */
a > span.badge-info {
    vertical-align: top;
}

/* align glyphicons with text */
.glyphicon {
    vertical-align: text-top;
}

/* add spaces between control-groups, ignore first and last (buttons) */
.form > .control-group:nth-of-type(n+2):nth-last-of-type(n+2) {
    padding-top: 10px;
}

/*
    put modal windows in center
    for readability concerns, only apply to large screens
*/
@media screen and (min-width: 768px) {
    .modal {
        text-align: center;
    }

    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
}

/* crop and resize article avatar */
.article-avatar {
    width: 200px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
}

/* add hand-shaped cursors for links without href */
.fake-link {
    text-decoration: none !important;
    cursor: pointer;
}
