{% load staticfiles %}

<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.zune.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts-jquery-plugin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/charts.js' %}"></script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>公众号数据分析</h4>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills">
            <li role="presentation" class="active">
                <a href="#oa-chart" data-toggle="tab">公众号统计数据</a>
            </li>
            <li role="presentation">
                <a href="#article-chart" data-toggle="tab">文章统计数据</a>
            </li>
            <li role="presentation">
                <a href="#" data-toggle="tab">历史数据变化</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="oa-chart" class="tab-pane fade in active embed-responsive embed-responsive-16by9">
                <object id="oa-chart-container" data-type="mscombidy2d"
                        data-json='{{ chart_json }}'></object>
            </div>
            <div id="article-chart" class="tab-pane fade embed-responsive embed-responsive-16by9">
                <object id="article-chart-container" data-type="mscombidy2d"
                        data-json='{{ chart_json }}'></object>
            </div>
        </div>
        <script>
            drawCharts();
        </script>
    </div>
</div>
