{% extends 'common/sortable_content.html' %}

{% block no-data-info %}
    暂无预警记录
{% endblock no-data-info %}

{% block content %}
    {% for record in items %}
        <tr>
            <td><a class="ajax-link" data-url="{% url 'admin/detail' record.account.id %}">
                        {{ record.account }}</a></td>
            <td>于&nbsp;&nbsp;{{ record.datetime }}</td>
            <td>阅读量 大于 {{ record.value }}条</td>
            <td align="right">{{ record.value }}条</td>
        </tr>
    {% endfor %}
{% endblock content %}
