{% extends 'common/sortable_content.html' %}

{% block no-data-info %}
    暂无预警规则
{% endblock no-data-info %}

{% block content %}
    {% for rule in items %}
        <tr>
            <td>{{ rule.id }}</td>
            <td>
                {% if rule.account %}
                    <a class="ajax-link" data-url="{% url 'admin/detail' rule.account.id %}">
                        {{ rule.account_name }}
                    </a>
                {% else %}
                    {{ rule.account_name }}
                {% endif %}
            </td>
            <td>{{ rule.duration }}天</td>
            <td>{{ rule.notification_name }}</td>
            <td>阅读增长量大于{{ rule.value }}条</td>
            <td style="text-align: right">
                <a class="fake-link"
                   href="javascript:showModal('{% url 'modals/admin/modify-forewarn-rules-modal' rule.id %}', 'forewarn-rules-modal')">
                    <span class="fa fa-edit fa-fw"></span> 修改
                </a>
                <span>&nbsp;&nbsp;</span>
                <a href="javascript:void(0)" tabindex="-1" class="fake-link delete-link"
                   data-toggle="popover" data-content="
                    <div id='delete-rule-{{ rule.id }}-popover'>
                        {% csrf_token %}
                        <button class='btn btn-default'>取消</button>
                        <span>　</span>
                        <button type='button' class='btn btn-danger form-btn'
                            data-id='{{ rule.id }}'>删除</button>
                    </div>
                    <script>
                        $('#delete-rule-{{ rule.id }}-popover').find('button.form-btn')
                            .click(delete_rule_callback);
                    </script>">
                    <span class="fa fa-minus-square-o fa-fw"></span> 删除
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock content %}
