<div class="panel panel-default">
    <div class="panel-heading">
        <h4>创建预警规则</h4>
    </div>
    <div class="panel-body">
        <form id="rule-form" class="form form-vertical" data-toggle="validator" role="form">
            {% csrf_token %}

            <div class="control-group row">
                <div class="col-sm-6 form-group">
                    <label class="control-label" for="account-name-field">预警公众号账号</label>

                    <input id="account-name-field" type="text" name="account_name"
                           list="account-name-list" class="form-control" placeholder="">
                    <span class="help-block with-errors">不填写默认为所有公众号</span>
                    <datalist id="account-name-list">
                        {% for id in wx_name %}
                            <option value="{{ id }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="col-sm-6 form-group">
                    <label class="control-label" for="notification-field">通知方式</label>

                    <select id="notification-field" name="notification" class="form-control">
                        <option value={{ NotificationOption.Email }}>邮件</option>
                        <option value={{ NotificationOption.Message }}>站内通知</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="duration-field">预警时限</label>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input id="duration-field" name="duration" type="text" class="form-control"
                               data-error="请填写合法数字"
                               placeholder="" pattern="^[1-9]|\d{0,2}$" required>
                    </div>
                    <div class="col-sm-1">
                        <p class="form-control-static">天</p>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="value-field">预警规则</label>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <select id="target-field" name="target" class="form-control">
                            <option value={{ ForewarnTarget.ViewsTotal }}>阅读量</option>
                            <option value={{ ForewarnTarget.LikesTotal }} disabled="disabled">点赞数</option>
                        </select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <select name="" class="form-control">
                            <option value="大于">大于</option>
                            <option value="小于" disabled="disabled">小于</option>
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <input id="value-field" name="value" type="text" class="form-control"
                               data-error="请填写合法数字"
                               placeholder="" pattern="^[1-9]|\d{0,3}$" required>
                    </div>
                    <div class="col-sm-1">
                        <p class="form-control-static">条</p>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label></label>

                <div class="controls">
                    <button id="form-submit" type="submit" name="method" value="submit"
                            class="btn btn-primary">
                        创建
                    </button>
                </div>
            </div>

            <div class="form-error-msg alert alert-danger alert-dismissible">
                <div></div>
                <button type="button" class="close" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        </form>
        <script>
            function checkLegal() {
                var form = document.forms["rule-form"];
                if (form['duration'].value < 1 || form['duration'].value > 365) {
                    alert('预警时限不合法');
                    return false;
                }
                if (form['value'].value < 1 || form['value'].value > 365) {
                    alert('阅读增长量不合法');
                    return false;
                }
                return true;
            }

            handleFormPost("#rule-form", "{% url 'api/submit_rule' %}", {
                success_callback: function (data) {
                    loadContent("{% url 'admin/forewarn-rules' %}", {}, undefined, {'replace': true});
                }
            });
        </script>
    </div>
</div>
