{% extends 'common/sortable_content.html' %}

{% block content %}
    {% for app in items %}
        <tr>
            <td>
                {% if app.status == 'approved' %}
                    <a style="cursor:pointer;" class="official-account-link"
                       data-url="{% url 'admin/detail' app.official_account_id %}">
                        {{ app.official_account.name }}
                    </a>
                {% else %}
                    {{ app.official_account.name }}
                {% endif %}
            </td>
            <td>{{ app.manager_name }}</td>
            <td>{{ app.description|linebreaksbr|safe }}</td>
            <td>
                {% if app.status == 'pending' %}
                    <a style="cursor:pointer;"
                       href="javascript:showModal('{% url 'modals/admin/application-modal' app.official_account_id %}', 'application-modal')">
                        <span class="fa fa-check-square-o fa-fw"></span> 审批
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    <script>
        $(".official-account-link").click(function () {
            loadContent($(this).data("url"), {});
        });
        $(function () {
            $("body").popover({
                html: true,
                placement: "auto right",
                selector: ".change-app-status-link",
                title: "请选择审批结果",
                trigger: "focus",
                container: "body"
            });
        });
    </script>
{% endblock content %}
