{% extends 'common/sortable_content.html' %}

{% block no-data-info %}
    {% if params.type == 'pending' %}
        暂无待审批申请
    {% elif params.type == 'processed' %}
        尚未处理过申请
    {% elif params.type == 'all' %}
        暂无申请
    {% endif %}
{% endblock no-data-info %}

{% block content %}
    {% for app in items %}
        <tr>
            <td>
                {% if app.status == 'approved' %}
                    <a class="ajax-link" data-url="{% url 'admin/detail' app.official_account_id %}">
                        {{ app.official_account.name }}
                    </a>
                {% else %}
                    {{ app.official_account.name }}
                {% endif %}
            </td>
            <td>{{ app.manager_name }}</td>
            <td>{{ app.description|linebreaksbr|truncatechars:100 }}</td>
            {% if params.type != 'pending' %}
                <td>
                    <span class="label label-{{ app.status_display.colorclass }}">
                        <span class="fa {{ app.status_display.icon }} fa-fw"></span> {{ app.status_display.name }}
                    </span>
                </td>
            {% endif %}
            <td style="text-align: right">
                {% if app.status == 'pending' %}
                    <a class="fake-link"
                       href="javascript:showModal('{% url 'modals/admin/process-application-modal' app.id %}', 'application-modal')">
                        <span class="fa fa-check-square-o fa-fw"></span> 审批
                    </a>
                {% else %}
                    <a class="fake-link"
                       href="javascript:showModal('{% url 'modals/admin/view-application-modal' app.id %}', 'application-modal')">
                        <span class="fa fa-external-link fa-fw"></span> 详情
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    <script>

    </script>
{% endblock content %}
