<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ application_type }}<span class="badge pull-right">{{ applications|length }}</span></h4></div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 15%; min-width: 100px">公众号名称</th>
                    <th style="width: 15%; min-width: 110px">公众号负责人</th>
                    <th style="width: 10000px">公众号简介</th>
                    <th>
                        <div style="width: 50px"></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <script>
                    $(function () {
                        $("body").popover({
                            html: true,
                            placement: "auto right",
                            selector: ".change-app-status-link",
                            title: "请选择审批结果",
                            trigger: "focus",
                            container: "body"
                        });
                    });
                </script>
                {% for app in applications %}
                    <tr>
                        <td>{{ app.name }}</td>
                        <td>{{ app.manager_name }}</td>
                        <td>{{ app.description|linebreaks }}</td>
                        <td>
                            {% if app.status == 'pending' %}
                                <a style="cursor:pointer;" class="change-app-status-link" data-toggle="popover"
                                   data-content="
                                        <form method='post' action='{% url 'api/modify_application' %}'>
                                            {% csrf_token %}
                                            <button type='submit' name='status' value='rejected'
                                                class='btn btn-danger'>
                                                <span class='glyphicon glyphicon-remove-sign'></span> 拒绝
                                            </button>
                                            <input style='display:none' name='username' value='{{ admin.username }}'>
                                            <input style='display:none' name='account_id' value='{{ app.id }}'>
                                            <span>　</span>
                                            <button type='submit' name='status' value='approved'
                                                class='btn btn-success'>
                                                <span class='glyphicon glyphicon-ok-sign'></span> 通过
                                            </button>
                                        </form>">
                                    <span class="glyphicon glyphicon-check"></span> 审批</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
