<a class="fake-link">
    <strong><i class="glyphicon glyphicon-dashboard"></i>　信息概览</strong>
</a>
<hr>
<div class="row">
    <!-- center left-->
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>待审批申请<span class="badge pull-right">{{ pending_applications|length }}</span></h4></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 15%; min-width: 100px">公众号名称</th>
                            <th style="width: 15%; min-width: 110px">公众号负责人</th>
                            <th style="width: 10000px">公众号简介</th>
                            <th>
                                <div style="width: 50px"></div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <script>
                            $(function () {
                                $('body').popover({
                                    'html': true,
                                    'placement': 'auto right',
                                    'selector': '.change-app-status-link',
                                    'title': "请选择审批结果",
                                    'trigger': 'focus',
                                    'container': 'body'
                                });
                            });
                        </script>
                        {% for app in pending_applications %}
                            <tr>
                                <td>{{ app.name }}</td>
                                <td>{{ app.manager_name }}</td>
                                <td>{{ app.description|linebreaks }}</td>
                                <td>
                                    <a style="cursor:pointer;" href="javascript:void(0)" class="change-app-status-link"
                                       data-toggle="popover"
                                       data-content="
                                        <form method='post' action='{% url 'api/modify_application' %}'>
                                            {% csrf_token %}
                                            <button type='submit' name='status' value='rejected'
                                                class='btn btn-danger'>
                                                <span class='glyphicon glyphicon-remove-sign'></span> 拒绝
                                            </button>
                                            <input style='display:none' name='username' value='{{ admin.username }}'>
                                            <input style='display:none' name='account_id' value='{{ app.id }}'>
                                            <span>　</span>
                                            <button type='submit' name='status' value='approved'
                                                class='btn btn-success'>
                                                <span class='glyphicon glyphicon-ok-sign'></span> 通过
                                            </button>
                                        </form>">
                                        <span class="glyphicon glyphicon-check"></span> 审批</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>最近一周的热门文章</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 15%; min-width: 100px">公众号名称</th>
                            <th style="width: 25%; min-width: 100px">文章标题</th>
                            <th>文章简介</th>
                            <th style="width: 80px"><span class="glyphicon glyphicon-eye-open"></span> 阅览数</th>
                            <th style="width: 80px"><span class="glyphicon glyphicon-thumbs-up"></span> 点赞数</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td><a style="cursor:pointer;" class="official-account-link"
                                       data-url="{% url 'admin/detail' article.official_account_id %}">
                                    {{ article.official_account_name }}
                                </a></td>
                                <td><a target="_blank" href="{{ article.url }}">
                                    <div>{{ article.title }}</div>
                                </a></td>
                                <td>{{ article.description|linebreaks }}</td>
                                <td align="right">{{ article.views }}</td>
                                <td align="right">{{ article.likes }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <script>
                            $(".official-account-link").click(function () {
                                loadContent($(this).data("url"), {});
                            });
                        </script>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--/col-->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>公告</h4>
            </div>
            <div class="panel-body">
                <div class="alert alert-info" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    一些<strong>不那么重要</strong>的通知
                </div>
                <p>站长给管理员的通知</p>

                <p>真的有这种东西吗</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>未读站内消息<span class="badge pull-right">{{ messages|length }}</span></h4></div>
            <div class="panel-body">
                {% for message in messages %}
                    <p><a style="cursor:pointer;" class="message-link"
                          data-url="{% url 'message/administrator' message.official_account_id %}">{{ message.title }}</a>
                    </p>
                {% endfor %}
            </div>
            <script>
                $(".message-link").click(function () {
                    loadContent($(this).data("url"), {});
                });
            </script>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>公众号关注排行</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>名称</th>
                            <th>关注人数</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for account in official_accounts %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a style="cursor:pointer;" class="official-account-link"
                                       data-url="{% url 'admin/detail' account.id %}">
                                    {{ account.name }}
                                </a></td>
                                <td>{{ account.subscribers }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--/col-span-6-->
</div>
<!--/row-->
