{% load staticfiles %}

<script src="{% static 'base/js/referrer-killer.js' %}"></script>

<a id="messages-link" class="fake-link pull-right"
   data-url="{% url 'message/admin' official_account_id %}">
    <strong><i class="glyphicon glyphicon-comment"></i>　消息一览</strong>
</a>
<script>
    $("#messages-link").ready(function () {
        $("#messages-link").click(function () {
            loadContent($(this).data("url"), {});
        });
    });
</script>
<a class="fake-link">
    <strong><i class="glyphicon glyphicon-briefcase"></i>　公众号详细信息</strong>
</a>
<hr>
<div class="row">
    <!-- center left-->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>基本信息<span class="badge pull-right">{{ pending_count }}</span></h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pull-left" style="width: 90px; height: 90px;
                                background: url(http://open.weixin.qq.com/qr/code/?username={{ account.wechat_id }})
                                -170px -170px no-repeat;"></div>
                        <div class="pull-left" style="padding-left: 10px;
                                        vertical-align: middle; line-height: 160%;">
                            <b>公众号名称：</b>{{ account.name }}<br/>
                            <b>微信ID：</b>{{ account.wechat_id }}<br/>
                            <b>订阅人数：</b>{{ account.subscribers }}<br/>
                            <b>公众号描述：</b>{{ account.description }}<br/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div style="line-height: 160%;">
                            <b>隶属组织：</b>{{ account.association }}<br/>
                            <b>负责人姓名：</b>{{ account.manager_name }}<br/>
                            <b>负责人学号：</b>{{ account.manager_student_id }}<br/>
                            <b>负责人院系：</b>{{ account.manager_dept }}<br/>
                            <b>负责人电话：</b>{{ account.manager_tel }}<br/>
                            <b>负责人电子邮件：</b><a
                                href="mailto:{{ account.manager_email }}">{{ account.manager_email }}</a><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>最近文章</h4></div>
            <div class="panel-body">
                <div class="table-responsive" id="articles-list-container">
                    <!-- to be loaded using ajax -->

                    <script>
                        loadContentOn("{% url 'admin/detail/articles-list' official_account_id %}", {
                            'sort_by': 'views',
                            'sort_order': 'desc'
                        }, "#articles-list-container");
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/row-->
