<a class="fake-link">
    <strong><i class="glyphicon glyphicon-dashboard"></i>　信息总览</strong>
</a>
<hr>

{% load staticfiles %}

<script src="{% static 'base/js/referrer-killer.js' %}"></script>

<a id="messages-link" class="fake-link pull-right"
   data-url="{% url 'admin/message' official_account_id %}">
    <strong><i class="glyphicon glyphicon-comment"></i>　消息一览</strong>
</a>
<script>
    $("#messages-link").ready(function () {
        $("#messages-link").click(function () {
            loadContent($(this).data("url"), {});
        });
    });
</script>
<a class="fake-link">
    <strong><i class="glyphicon glyphicon-briefcase"></i>　公众号详细信息</strong>
</a>
<hr>
<div class="row">
    <!-- center left-->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>基本信息<span class="badge pull-right">{{ pending_count }}</span></h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pull-left" style="width: 90px; height: 90px;
                                background: url(http://open.weixin.qq.com/qr/code/?username={{ account.wechat_id }})
                                -170px -170px no-repeat;"></div>
                        <div class="pull-left" style="padding-left: 10px;
                                        vertical-align: middle; line-height: 160%;">
                            <b>公众号名称：</b>{{ account.name }}<br/>
                            <b>微信ID：</b>{{ account.wechat_id }}<br/>
                            <b>订阅人数：</b>{{ account.subscribers }}<br/>
                            <b>公众号描述：</b>{{ account.description }}<br/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div style="line-height: 160%;">
                            <b>隶属组织：</b>{{ account.association }}<br/>
                            <b>负责人姓名：</b>{{ account.manager_name }}<br/>
                            <b>负责人学号：</b>{{ account.manager_student_id }}<br/>
                            <b>负责人院系：</b>{{ account.manager_dept }}<br/>
                            <b>负责人电话：</b>{{ account.manager_tel }}<br/>
                            <b>负责人电子邮件：</b><a
                                href="mailto:{{ account.manager_email }}">{{ account.manager_email }}</a><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>最近文章</h4></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="width: 25%; min-width: 100px">文章标题</th>
                            <th>文章简介</th>
                            <th style="width: 80px"><span class="glyphicon glyphicon-eye-open"></span> 阅览数</th>
                            <th style="width: 80px"><span class="glyphicon glyphicon-thumbs-up"></span> 点赞数</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>
                                    <div class="article-avatar" data-src="{{ article.avatar_url }}"
                                         data-alt="{{ article.title }}"></div>
                                </td>
                                <td><a target="_blank" href="{{ article.url }}">
                                    <div>{{ article.title }}</div>
                                </a></td>
                                <td>{{ article.description|linebreaks }}</td>
                                <td align="right">{{ article.views }}</td>
                                <td align="right">{{ article.likes }}</td>
                            </tr>
                        {% endfor %}
                        <script>
                            $(".article-avatar").each(function (index) {
                                var obj = $(this);
                                setTimeout(function () {
                                    obj.html(ReferrerKiller.imageHtml(obj.data("src"), {
                                        "alt": obj.data("alt"),
                                    }));
                                }, index * 200);
                            });
                        </script>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul id="pager" class="pagination">
                        {% if page.current > 1 %}
                            <li class="pager-link" data-page="{{ page.current|add:'-1' }}">
                                <a class="fake-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if page.pages|first > 1 %}
                            {% if page.pages|last > 2 %}
                                <li class="pager-link" data-page="1">
                                    <a class="fake-link">1</a>
                                </li>
                            {% endif %}
                            <li class="disabled"><a>...</a></li>
                        {% endif %}

                        {% for p in page.pages %}
                            {% if p == page.current %}
                                <li class="active pager-link" data-page="{{ p }}">
                                    <a class="fake-link">{{ p }}</a>
                                </li>
                            {% else %}
                                <li class="pager-link" data-page="{{ p }}">
                                    <a class="fake-link">{{ p }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page.pages|last < page.count %}
                            <li class="disabled"><a>...</a></li>
                            {% if page.pages|last < page.count|add:'-1' %}
                                <li class="pager-link" data-page="{{ page.count }}">
                                    <a class="fake-link">{{ page.count }}</a>
                                </li>
                            {% endif %}
                        {% endif %}

                        {% if page.current < page.count %}
                            <li class="pager-link" data-page="{{ page.current|add:'1' }}">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <script>
                        $("#pager").ready(function () {
                            $(".pager-link").click(function () {
                                loadContent("{% url 'admin/detail' official_account_id %}",
                                        {'page': $(this).data("page")});
                            });
                        });
                    </script>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--/row-->
