{% load staticfiles %}

<script src="{% static 'base/js/referrer-killer.js' %}"></script>

<a class="fake-link">
    <strong><i class="glyphicon glyphicon-briefcase"></i>　公众号详细信息</strong>
</a>
<hr>
<div class="row">
    <!-- center left-->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>基本信息<span class="badge pull-right">{{ pending_count }}</span></h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="pull-left" style="width: 90px; height: 90px;
                                background: url(http://open.weixin.qq.com/qr/code/?username={{ account.wechat_id }})
                                -170px -170px no-repeat;"></div>
                        <div class="pull-left" style="padding-left: 10px;
                                        vertical-align: middle; line-height: 160%;">
                            <b>公众号名称：</b>{{ account.name }}<br/>
                            <b>微信ID：</b>{{ account.wechat_id }}<br/>
                            <b>订阅人数：</b>{{ account.subscribers }}<br/>
                            <b>公众号描述：</b>{{ account.description }}<br/>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div style="line-height: 160%;">
                            <b>隶属组织：</b>{{ account.association }}<br/>
                            <b>负责人姓名：</b>{{ account.manager_name }}<br/>
                            <b>负责人学号：</b>{{ account.manager_student_id }}<br/>
                            <b>负责人院系：</b>{{ account.manager_dept }}<br/>
                            <b>负责人电话：</b>{{ account.manager_tel }}<br/>
                            <b>负责人电子邮件：</b><a
                                href="mailto:{{ account.manager_email }}">{{ account.manager_email }}</a><br/>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-top: 10px">
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                        &nbsp;删除公众号
                    </button>
                    <button class="btn btn-info" style="margin-left: 10px"
                            id="statistics-link">
                        <span class="fa fa-bar-chart"></span>
                        &nbsp;查看分析
                    </button>
                    <script>
                        $(function () {
                            $("#statistics-link").click(function () {
                                $(this).html('<span class="fa fa-bar-chart"></span>&nbsp;查看分析');
                                loadContentOn("{% url 'admin/statistics' official_account_id %}", {},
                                        "#detail-page-main");
                            });
                        });
                    </script>
                    <button class="btn btn-primary ajax-link" style="margin-left: 10px"
                            data-url="{% url 'message/admin' official_account_id %}">
                        <span class="glyphicon glyphicon-comment"></span>
                        &nbsp;查看站内消息
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="panel panel-default" id="detail-page-main">
            <div class="panel-heading">
                <div class="row">
                    <h4 class="col-xs-6">最近文章</h4>

                    <div class="col-xs-6">
                        <div style="vertical-align: text-top">
                            <div id="table-search-box" class="left-inner-addon col-xs-10" style="margin-top: 3px;">
                                <i class="glyphicon glyphicon-search"></i>
                                <input id="table-search-input" name="keyword" type="text" class="form-control"
                                       placeholder="搜索关键字……"/>
                            </div>
                        </div>
                        <span id="articles-count-badge" class="badge pull-right"
                              style="margin-top: 10px;">{{ articles_count }}</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <script src="{% static 'base/js/referrer-killer.js' %}"></script>
                <div class="table-responsive" id="articles-list-container">
                    <!-- to be loaded using ajax -->

                    <script>
                        loadContentOn("{% url 'admin/detail/articles-list' official_account_id %}", {
                            'sort_by': 'posttime',
                            'sort_order': 'desc'
                        }, "#articles-list-container");
                        $(function () {
                            $("#table-search-input").on("input propertychange paste", function () {
                                console.log($(this).val());
                                loadContentOn("{% url 'admin/detail/articles-list' official_account_id %}", {
                                    'sort_by': 'posttime',
                                    'sort_order': 'desc',
                                    'article_title_keyword': $(this).val()
                                }, "#articles-list-container", function () {
                                    $("#articles-count-badge").html($("#articles-count-value").html());
                                });
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/row-->
