{% load staticfiles %}

<script src="{% static 'base/js/referrer-killer.js' %}"></script>

<a class="fake-link">
    <strong><i class="fa fa-briefcase fa-fw"></i>　公众号详细信息</strong>
</a>
<hr>
<div class="row">
    <!-- center left-->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>基本信息<span class="badge pull-right">{{ pending_count }}</span></h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="pull-left" style="width: 90px; height: 90px;
                                background: url(http://open.weixin.qq.com/qr/code/?username={{ account.wechat_id }})
                                -170px -170px no-repeat;"></div>
                        <div class="pull-left" style="padding-left: 10px;
                                        vertical-align: middle; line-height: 160%;">
                            <b>公众号名称：</b>{{ account.name }}<br/>
                            <b>微信ID：</b>{{ account.wx_id }}<br/>
                            <b>订阅人数：</b>{{ account.subscribers }}<br/>
                            <b>公众号描述：</b>{{ account.description }}<br/>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div style="line-height: 160%;">
                            <b>隶属组织：</b>{{ account.association }}<br/>
                            <b>负责人姓名：</b>{{ account.manager_name }}<br/>
                            <b>负责人学号：</b>{{ account.manager_student_id }}<br/>
                            <b>负责人院系：</b>{{ account.manager_dept }}<br/>
                            <b>负责人电话：</b>{{ account.manager_tel }}<br/>
                            <b>负责人电子邮件：</b><a
                                href="mailto:{{ account.manager_email }}">{{ account.manager_email }}</a><br/>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-top: 10px">
                    <button class="btn btn-danger">
                        <span class="fa fa-remove fa-fw"></span>
                        &nbsp;删除公众号
                    </button>
                    <button class="btn btn-info" style="margin-left: 10px"
                            id="statistics-link">
                        <span class="fa fa-bar-chart fa-fw"></span>
                        &nbsp;查看分析
                    </button>
                    <button class="btn btn-info" style="margin-left: 10px; display: none"
                            id="articles-link">
                        <span class="fa fa-file-text fa-fw"></span>
                        &nbsp;查看文章
                    </button>
                    <script>
                        $(function () {
                            $("#statistics-link").click(function () {
                                $("#articles-link").css("display", "");
                                $(this).css("display", "none");
                                loadContentOn("#detail-page-main",
                                        "{% url 'admin/detail/statistics' official_account_id %}",
                                        {}, {anim: true, scroll: true});
                            });

                            $("#articles-link").click(function () {
                                $("#statistics-link").css("display", "");
                                $(this).css("display", "none");
                                loadContentOn("#detail-page-main",
                                        "{% url 'admin/detail/articles' official_account_id %}",
                                        {}, {anim: true, scroll: true});
                            });
                        });
                    </script>
                    <button class="btn btn-primary ajax-link" style="margin-left: 10px"
                            data-url="{% url 'message/admin' official_account_id %}">
                        <span class="fa fa-comment fa-fw"></span>
                        &nbsp;查看站内消息
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div id="detail-page-main">
            {% include 'admin/detail_articles.html' %}
        </div>
    </div>
</div>
<!--/row-->
