{% load staticfiles %}

<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.zune.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts-jquery-plugin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/charts.js' %}"></script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>公众号数据分析</h4>
    </div>
    <div class="panel-body">
        <div id="chart-container"></div>
        <script>
            $(function () {
                var container = $("#chart-container");
                renderMultiChart("#chart-container", {{ chart_json|safe }}, {
                    width: container.width(),
                    height: container.width() * 0.618,
                }, function () {
                    container.attr("height", container.width() * 0.618);
                });
            });
        </script>
    </div>
</div>
