{% load tz %}

<span id="articles-count-value" style="display: none">{{ articles_count }}</span>

<table class="table table-striped table-sortable">
    <thead>
    <tr>
        <th></th>
        <th class="hidden-sm" style="width: 25%; min-width: 100px">文章标题
        </th>
        <th>文章简介</th>
        <th class="th-sortable" data-key="views"
            style="width: 100px"><span class="fa fa-eye fa-fw"></span> 阅览数
        </th>
        <th class="th-sortable" data-key="likes"
            style="width: 100px"><span class="fa fa-thumbs-o-up fa-fw"></span> 点赞数
        </th>
        <th class="th-sortable" data-key="posttime"
            style="width: 120px"><span class="fa fa-calendar fa-fw"></span> 发布日期
        </th>
    </tr>
    </thead>

    <script>
        $(".table-sortable").find("thead").ready(function () {
            var th = $("th.th-sortable");

            th.html(function (index, old) {
                return old + ' <span class="sort-label pull-right fa fa-unsorted"></span>';
            });

            var icons = th.find("span.sort-label");
            var allClasses = "fa-unsorted fa-sort-asc fa-sort-desc";

            th.each(function () {
                if ($(this).data("key") == "{{ sort_by }}") {
                    $(this).find("span.sort-label")
                            .removeClass(allClasses).addClass("fa-sort-" + "{{ sort_order }}");
                }
            });

            th.click(function () {
                var sort_order = "";
                console.log($(this));
                var icon = $(this).find("span.sort-label");
                if (icon.hasClass("fa-unsorted")) {
                    sort_order = "desc";
                } else if (icon.hasClass("fa-sort-asc")) {
                    sort_order = "desc";
                } else if (icon.hasClass("fa-sort-desc")) {
                    sort_order = "asc";
                } else {
                    console.log("uh-oh");
                }
                // icons.removeClass(allClasses).addClass("fa-unsorted");
                // icon.removeClass(allClasses).addClass("fa-sort-" + sort_order);

                loadContentOn("#articles-list-container",
                        "{% url 'admin/detail/articles-list' official_account_id %}", {
                            'sort_by': $(this).data("key"),
                            'sort_order': sort_order,
                            'article_title_keyword': $("#table-search-input").val()
                        });
            });
        });
    </script>

    <tbody>
    {% for article in articles %}
    <tr>
        <td class="hidden-sm">
            <div class="article-avatar" data-src="{{ article.avatar_url }}"
                 data-alt="{{ article.title }}"></div>
        </td>
        <td><a target="_blank" href="{{ article.url }}">
            <div>{{ article.title }}</div>
        </a></td>
        <td>{{ article.description|linebreaksbr|safe }}</td>
        <td align="right">
            {% ifnotequal article.views 100000 %}
            {{ article.views }}
            {% else %}
            100000+
            {% endifnotequal %}
                                
        </td>
        <td align="right">{{ article.likes }}</td>
        <td align="right">{{ article.posttime|date:"Y年m月d日" }}</td>
    </tr>
    {% endfor %}

    <script>
        $(".article-avatar").each(function (index) {
            var obj = $(this);
            setTimeout(function () {
                obj.html(ReferrerKiller.imageHtml(obj.data("src"), {
                    "alt": obj.data("alt"),
                }));
            }, index * 200);
        });
    </script>
    </tbody>
</table>

{% include 'common/pagination.html' %}
