<div class="panel panel-default">
    <div class="panel-heading">
        <h4>预警列表</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>公众号</th>
                    <th>时间</th>
                    <th>方式</th>
                    <th>大小</th>
                    <th>数目</th>
                </tr>
                </thead>
                <tbody>
                {% for record in recordlist %}
                    <tr>
                        <td>{{ record.account }}</td>
                        <td>于&nbsp;&nbsp;{{ record.datetime }}</td>
                        <td>阅读量</td>
                        <td>大于</td>
                        <td>{{ record.value }}条</td>
                    </tr>
                {% endfor %}
                </tbody>
                <script>
                    $(".official-account-link").click(function () {
                        loadContent($(this).data("url"), {});
                    });
                </script>
            </table>
        </div>
    </div>
</div>

