<div class="panel panel-default">
    <div class="panel-heading">
        <h4>预警规则列表</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>预警条目</th>
                    <th>预警公众号范围</th>
                    <th>预警时限</th>
                    <th>通知方式</th>
                    <th>具体规则</th>
                </tr>
                </thead>
                <tbody>
                {% for rule in rules %}
                    <tr>
                        <td>{{ rule.id }}</td>
                        <td>{{ rule.account_name }} </td>
                        <td>{{ rule.duration }}天</td>
                        <td>{{ rule.notification }}</td>
                        <td>阅读增长量大于{{ rule.value }}条</td>
                    </tr>
                {% endfor %}
                </tbody>
                <script>
                    $(".official-account-link").click(function () {
                        loadContent($(this).data("url"), {});
                    });
                </script>
            </table>
        </div>
    </div>
</div>
<div class="row" style="margin-top:50px">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>创建预警规则</h4>
            </div>
            <div class="panel-body">
                <form id="rule-form" class="form form-vertical">
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>预警公众号账号</label>

                                <div class="controls">

                                    <input type="text" name="account_name" list="exampleList" class="form-control" placeholder="不填写为所有公众号">
                                    <datalist id="exampleList">
                                        {% for id in wx_name %}
                                            <option value="{{ id }}">
                                        {% endfor %}
                                    </datalist>

                                    <!--
                                    <select name="account" class="form-control">
                                        <option value="">单个公众号</option>
                                        <option value="">所有公众号</option>
                                        <option value="" disabled="disabled">指定公众号</option>
                                    </select>
                                -->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>通知方式</label>

                                <div class="controls">
                                    <select name="notification" class="form-control">
                                        <option value={{ NotificationOption.Email }}>邮件</option>
                                        <option value={{ NotificationOption.Message }}>站内通知</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label>预警时限</label>

                        <div class="row">
                            <div class="controls">
                                <div class="col-sm-6">
                                    <input name="duration" type="text" class="form-control" placeholder="数字">
                                </div>
                                <div class="col-sm-6">
                                    天
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="control-group">
                        <label>预警规则</label>

                        <div class="row">
                            <div class="controls">
                                <div class="col-sm-12">
                                    <select name="target" class="form-control">
                                        <option value={{ ForewarnTarget.ViewsTotal }}>阅读量</option>
                                        <option value={{ ForewarnTarget.LikesTotal }} disabled="disabled">点赞数</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label>阅读量增长量</label>

                        <div class="row">
                            <div class="controls">
                                <div class="col-sm-3">
                                    <select name="" class="form-control">
                                        <option value="大于">大于</option>
                                        <option value="小于" disabled="disabled">小于</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <input name="value" type="text" class="form-control" placeholder="数字">
                                </div>
                                <div class="col-sm-6">
                                    条
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label></label>

                        <div class="controls">
                            <button id="form-submit" type="submit" name="method" value="submit" class="btn btn-primary">
                                创建
                            </button>
                        </div>
                    </div>
                </form>
                <script>
                    function checkLegal() {
                        var form = document.forms["rule-form"];
                        if (form['duration'].value < 1 || form['duration'].value > 365) {
                            alert('预警时限不合法');
                            return false;
                        }
                        return true;
                    }

                    $(function () {
                        var msg = $("#error-msg");
                        msg.fadeOut(0);
                        msg.find("> button").click(function () {
                            $("#error-msg").fadeOut();
                        });
                    });
                    $("#form-submit").click(function (event) {
                        if (!checkLegal()) return;
                        event.preventDefault();
                        var url = "{% url 'api/submit_rule' %}";
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: $("#rule-form").serialize(),
                            success: function (data) {
                                alert("创建成功");
                                location.reload();
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                var msg = $("#error-msg");
                                msg.find("label").html("提交申请遇到错误：" + textStatus + ": " + errorThrown);
                                console.log(xhr.responseText);
                                msg.fadeIn();
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
