.example-twitter {
	position:relative;
	padding:15px;
	margin:100px 0 0.5em;
	color:#333;
	background:#eee;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.example-twitter p {font-size:28px; line-height:1.25em;}
.example-twitter:before {
	content:url(twitter-logo.gif);
	position:absolute;
	top:-60px;
	left:0;
	width:155px;
	height:36px;
    /* reduce the damage in FF3.0 */
    display:block; 
}
.example-twitter:after {
	content:"";
	position:absolute;
	top:-30px;
	left:50px;
	border:15px solid transparent;
	border-bottom-color:#eee;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}
.example-twitter + p {padding-left:15px; font:14px Arial, sans-serif;}
