<a class="fake-link">
    <strong><i class="glyphicon glyphicon-dashboard"></i>　信息总览</strong>
</a>
<hr>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>我的备案申请<span class="badge pull-right">{{ pending_count }}</span></h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="application-list">
                        <thead>
                            <tr>
                                <th>公众号名称</th>
                                <th>公众号简介</th>
                                <th>审批状态</th>
                                <th>处理人</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for app in applications %}
                            <tr>
                                <td>{{ app.name }}</td>
                                <td>{{ app.description|linebreaksbr }}</td>
                                <td>
                                    <span class="glyphicon {{ app.status_glyphicon }}"></span> {{ app.status_name }}
                                </td>
                                <td>{{ app.operator_admin }}</td>
                                <td>
                                    <!--
                                    <a style="cursor:pointer;" href="javascript:void(0)" class="change-app-status-link"
                                       data-toggle="popover"
                                       data-content="
                                        <form method='post' action='{% url 'api/modify_application' %}'>
                                            {% csrf_token %}
                                            <button type='submit' name='status' value='rejected'
                                                class='btn btn-danger'>
                                                <span class='glyphicon glyphicon-remove-sign'></span> 拒绝
                                            </button>
                                            <input style='display:none' name='username' value='{{ admin.username }}'>
                                            <input style='display:none' name='account_id' value='{{ app.id }}'>
                                            <span>　</span>
                                            <button type='submit' name='status' value='approved'
                                                class='btn btn-success'>
                                                <span class='glyphicon glyphicon-ok-sign'></span> 通过
                                            </button>
                                        </form>">
                                        <span class="glyphicon glyphicon-check"></span> 修改</a>
                                    -->
                                        <a href='api/modify_application/{{app.id}}' style="cursor:pointer;" class="change-app-status-link"
                                        <span class="glyphicon glyphicon-check"></span> 修改</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
