<a class="fake-link">
    <strong><i class="glyphicon glyphicon-dashboard"></i>　信息总览</strong>
</a>
<hr>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>我的备案申请<span class="badge pull-right">{{ pending_count }}</span></h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="application-list">
                        <thead>
                            <tr>
                                <th>公众号名称</th>
                                <th>公众号简介</th>
                                <th>审批状态</th>
                                <th>处理人</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for app in applications %}
                            <tr>
                                <td>{{ app.name }}</td>
                                <td>{{ app.description|linebreaksbr }}</td>
                                <td>
                                    <span class="glyphicon {{ app.status_glyphicon }}"></span> {{ app.status_name }}
                                </td>
                                <td>{{ app.operator_admin }}</td>
                                <td>
                                    <a id="modify_{{app.id}}">
                                        <span class="glyphicon glyphicon-check"></span> 修改
                                    </a>
                                </td>
                                <td>
                                        <a id="delete_{{app.id}}" >
                                        <span class="glyphicon glyphicon-check"></span> 删除</a>
                                
                                </td>
                            </tr>

                            <script>


                                    $("#modify_{{app.id}}").click(function(){
                                        loadContent("{% url 'student/modify-application' app.id %}");
                                    });

                    $(function () {
                        var msg = $("#error-msg");
                        msg.fadeOut(0);
                        msg.find("> button").click(function () {
                            $("#error-msg").fadeOut();
                        });
                    });
$("#delete_{{app.id}}").submit(function (event) {
                        event.preventDefault();
                        var url = "{% url 'api/delete_application' app.id %}";
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: "{{app.in}}",
                            success: function (data) {
                                alert('提交成功!');
                                loadContent("/student");
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                var msg = $("#error-msg");
                                msg.find("label").html("提交申请遇到错误：" + textStatus + ": " + errorThrown);
                                console.log(xhr.responseText);
                                msg.fadeIn();
                            }
                        });
                    });
                                </script>
                                
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
