{% extends 'common/sortable.html' %}

{% block title %}公众号{% endblock title %}

{% block defaults %}
    url: "{% url 'admin/official-accounts-list' 'official_accounts' %}",
    sort_by: "wx_id",
    sort_order: "asc",
    search_field: "name"
{% endblock defaults %}

{% block head %}
    <th class="th-sortable" data-key="name" style="width: 15%; min-width: 120px">
        公众号名称
    </th>
    <th class="th-sortable" data-key="wx_id" style="width: 15%; min-width: 110px">
        微信ID
    </th>
    <th>公众号简介</th>
    <th class="th-sortable" data-key="wci">WCI</th>
{% endblock head %}
