{% extends 'common/sortable_content.html' %}

{% block content %}
    {% for account in items %}
        <tr>
            <td><a style="cursor:pointer;" class="official-account-link"
                   data-url="{% url 'admin/detail' account.id %}">
                {{ account.name }}
            </a></td>
            <td>{{ account.wx_id }}</td>
            <td>{{ account.description|linebreaksbr|truncatechars:100 }}</td>
            <td>{{ account.wci }}</td>
        </tr>
    {% endfor %}

    <script>
        $(".official-account-link").click(function () {
            loadContent($(this).data("url"), {});
        });
    </script>
{% endblock content %}
