{% load staticfiles %}

<link href="{% static 'base/css/comment.css' %}" rel="stylesheet">

<div class="top-row">
    <a class="fake-link" onclick="History.back()">
        <strong><i class="fa fa-chevron-left fa-fw"></i>　返回</strong>
    </a>
    <a class="fake-link pull-right">
        <strong>站内消息　<i class="fa fa-comment fa-fw"></i></strong>
    </a>
</div>
<hr>
<div id="message-area">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>站内信息
                        {% if category == MessageCategory.ToStudent %}
                            {% if processed %}
                                <strong class="user-name" style="font-size: medium">[已读]</strong>
                            {% else %}
                                <strong class="user-name" style="font-size: medium">[未读]</strong>
                            {% endif %}
                        {% endif %}
                        <span class="badge pull-right">{{ pending_count }}</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-offset-1">
                            <!-- comment -->
                            {% for message in messages %}
                                {% if message.category != category %}
                                    <div class="message-body row" style="margin-top: 30px">
                                        <div class="col-sm-7 col-xs-9">
                                            <div class="ds-comment-body">
                                                <p class="user-name">{{ message.from_real_name }}
                                                    于 {{ message.datetime }}</p>
                                                <!--
                                                    [DEBUG]processed:{{ message.processed }}
                                                -->
                                                <p>{{ message.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="message-body row" style="margin-top: 30px">
                                        <div class="col-sm-7 col-sm-offset-4 col-xs-9 col-xs-offset-2">
                                            <div class="ds-comment-body">
                                                <p class="user-name">{{ message.from_real_name }}
                                                    于 {{ message.datetime }}</p>
                                                <!--
                                                    [DEBUG]processed:{{ message.processed }}
                                                -->
                                                <p>{{ message.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <!-- send message-->

                            <div class="row">
                                <form id="reply-message-form" class="col-sm-7 col-sm-offset-4 col-xs-11"
                                      style="margin-right: 30px;">
                                    {% csrf_token %}
                                    <div class="input-group form-group" style="margin-top: 20px; width: 100%;">
                                        <input name="category" style="display:none" value="{{ category }}">
                                        <input name="official_account_id" style="display:none"
                                               value="{{ account.id }}">
                                        <input name="title" style="display: none;" value="">

                                        <div class="form-group">
                                        <textarea id="content-field" name="content" type="text"
                                                  class="form-control pull-right" placeholder="请输入回复"
                                                  style="height: 100px; width: 100%; margin-bottom: 5px;"></textarea>
                                        </div>

                                        <div class="control-group pull-right" style="display: block;">
                                            <button id="send-reply" class="btn btn-primary pull-right">Send</button>
                                            {% if not processed and category == MessageCategory.ToStudent %}
                                                <button id="mark-read" class="btn btn-primary pull-right"
                                                        style="margin-right: 10px">标记已读
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <script type="text/javascript">
                                function refresh_messages(data) {
                                    var category;
                                    {% if category == MessageCategory.ToStudent %}
                                        category = 'admin';
                                    {% else %}
                                        category = 'student';
                                    {% endif %}
                                    if (data.status === "ok") {
                                        loadContent(window.location.href, {}, undefined, {replace: true}, function () {
                                                    $("html, body").delay(60).animate({
                                                        "scroll-top": $(document).height()
                                                    }, function () {
                                                        var item = $(".message-body:nth-last-of-type(1)");
                                                        animate(item, "flash");
                                                    });
                                                }
                                        );
                                    }
                                }

                                $("#send-reply").click(function () {
                                    handleFormPost("#reply-message-form", "{% url 'api/add_message' %}", {
                                        success_callback: refresh_messages
                                    });
                                });

                                $("#mark-read").click(function () {
                                    handleFormPost("#reply-message-form", "{% url 'api/process_message' %}", {
                                        success_callback: refresh_messages
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>基本信息<span class="badge pull-right">{{ pending_count }}</span></h4></div>
                <div class="panel-body">
                    <div style="margin-left: calc(50% - 45px); margin-bottom: 20px; width: 90px; height: 90px;
                            background: url(http://open.weixin.qq.com/qr/code/?username={{ account.wx_id }})
                            -170px -170px no-repeat;"></div>
                    <div>
                        <div style="vertical-align: middle; line-height: 160%;">
                            <b>公众号名称：</b>{{ account.name }}<br/>
                            <b>微信ID：</b>{{ account.wx_id }}<br/>
                            <b>订阅人数：</b>{{ account.subscribers }}<br/>
                            <b>公众号描述：</b>{{ account.description }}<br/>
                            <b>隶属组织：</b>{{ account.association }}<br/>
                            <b>审批管理员：</b>{{ account.application.operator_admin }}<br/>
                            <br/>
                            <b>负责人姓名：</b>{{ account.manager_name }}<br/>
                            <b>负责人学号：</b>{{ account.manager_student_id }}<br/>
                            <b>负责人院系：</b>{{ account.manager_dept }}<br/>
                            <b>负责人电话：</b>{{ account.manager_tel }}<br/>
                            <b>负责人电子邮件：</b><a style="word-wrap: break-word;"
                                href="mailto:{{ account.manager_email }}">{{ account.manager_email }}</a><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
